body {
    background-color: #6f6c65 !important;
}
.card-top-border{
    border-top: 4px solid;
    border-top-color: #ffad00 !important;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #f1ede5;
}
.mytitle {
    font-family: mark-bold;
    color: #000000;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.myexplain {
    font-family: sinkin;
    color: #999999;
    font-size: 10px;
    margin-top: 4px;
}
