@charset "UTF-8";

    .applogo {
        position: absolute;
        right:0px;
        top:0px;
        width:100%;
        min-width: 202px;
    }
    .jkrlogo {
        position: absolute;
        right:190px;
        z-index:10;
        top:115px;
        width:70px;
    }
    .menu-line {
        position: absolute;
        top:222px;
        right:20px;
        height:1px;
        width:100px;
        background-color: rgba(255,255,255,0.3)
    }
    .sleft-menu {
		position: absolute;
		right:10px;
		top:230px;
		cursor:pointer;
		width:300px;
	}
	.sleft-menu ul {
		margin-right:15px;
		padding:0px;
	}
	.sleft-menu ul li {
		list-style-type: none;
		text-transform: uppercase;
		font-family: mark-bold;
		text-align: right;
		font-size:16px;
		line-height:30px;
		width:100%;
		padding-left:0px;
	}
	.sleft-menu ul li .chevron {
		height:12px;
		transition-duration: 0.4s;
   		transition-property: transform;
	}
	.sleft-menu ul li a {
		text-transform: uppercase;
		font-family: mark-bold;
		text-align: right;
		font-size:14px;
		width:100%;
		letter-spacing: 0px;
		text-decoration: none;
		line-height:30px;

		color:#cccac5;
	}
	.sleft-menu ul li a:hover {
		border-bottom-width: 3px;
		border-bottom-color:#eda611;
		border-bottom-style:solid;
	}
	.sleft-menu ul li ul {
		width:100%;
		margin-right:0px;
		padding:0px;
		margin-top:5px;
	}
    .sleft-menu ul li ul li {
		line-height:10px;
		padding-bottom:10px;
		width:100%;
		padding-left:0px;
	}
	.sleft-menu ul li ul li:hover{
		width:100%;
		padding-left:0px;
	}
	.sleft-menu ul li ul li:first-of-type {
		padding-top:8px;
	}
	.sleft-menu ul li ul li:last-of-type {
		padding-bottom:14px;
	}
    .sleft-menu ul li ul li a {
		text-transform: uppercase;
		font-family: mark;
		text-align: right;
		font-size:12px;
		width:100%;

		color:#bcbbbb;
		letter-spacing: 0px;
		text-decoration: none;
		line-height:16px;
		padding-bottom:2px;
	}
    .sleft-menu ul li .mini {
		font-family:mark;
		font-size:10px;
		padding-bottom:0px;
		line-height: 5px;
	}
    .smallgap {
		height:100px;
		margin-right:0px;
		height:2px;
		width:40px;
        background-color: rgba(255,255,255,0.3);
		float:right;
	}
	.gap {
		height:100px;
		margin-right:0px;
		height:3px;
		width:50px;
		background-color: rgba(255,255,255,0.3);
		float:right;
	}
    .side-by-side {
		float:right;width:35px;height:45px;
	}
	.side-only {
		float:left;width:35px;height:45px;
	}
    .timeclock {
		font-family: sinkin;
		color:rgba(255,255,255,0.6);
		font-size:10px;
		letter-spacing: 1px;
		line-height: 14px;
        margin-top:20px;
	}
    .timeclock img {
        margin-right:4px;
        margin-top:-2px;
    }
	.mytitle {
		font-family: mark-bold;
		color:#000000;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 20px;
		margin-bottom:0px;
		margin-top:20px;
	}
	.myexplain {
		font-family: sinkin;
		color:#999999;
		font-size: 10px;
		margin-top:4px;
	}
    .spakat-full {
		position: absolute;
		right:19px;
		width:200px;
		top:0px;
		font-family: sinkin;
		font-size: 12px;
		line-height: 14px;
		text-align: right;
		margin-top:170px;
		color:#ffa200;
	}
	.apps-box {
		/*min-height: calc(100vh - 10px);*/
		height:110%;
		width: 100%;
	}
    .foot-box {
        position: relative;
        height:20px;
    }
    .signature {
        position: absolute;
        left:15px;
        bottom:0px;
        height:30px;
        font-size: 10px;
        line-height: 20px;
        color:#ffffff;
        text-align: left;
        margin-bottom:10px;
    }
    .terms {
        position: absolute;
        right:15px;
        bottom:0px;
        height:30px;
        font-size: 10px;
        line-height: 20px;
        color:#ffffff;
        text-align: right;
        margin-bottom:10px;
    }
	.content {
		padding:10px;
		padding-left:30px;
	}
    .box {
		box-shadow:
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.072),
			0 41.8px 33.4px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12)
		;
		width: 100%;
		margin: 30px auto;
        margin-top:20px;
		background: white;
		border-radius: 5px;
		padding:0px;
	}
	.buka {
		transform: scaleY(-1);
		-webkit-transform: scaleY(-1);
		transform-origin:-20%;
	}
	.mycookies {
		position:fixed;
		display: none;
		bottom:0px;
		height:50px;
		width:100%;
		background-color:#c1cfca;
		z-index:9;
		margin-bottom:0px;
	}
	.mycookies div {
		padding-top:14px;
		font-size:14px;
		color:#171717;
	}
	.mycookies .container button {
		float:right;
		margin-top:-5px;
	}
@media only screen {
	@media (max-width: 1399.98px) {
		.jkrlogo {
			display:none;
		}
	}
}
@media (max-width: 575.98px) {
	@supports (-webkit-overflow-scrolling: touch) {
		/* CSS specific to iOS devices */
        .applogo {
			position: absolute;
			left:0px;
			top:0px;
			max-width: 250px;
		}
	}
}
